<!-- views/urls_index.ejs -->

<!DOCTYPE html>
<html lang="en">

<% include partials/_css_scripts.ejs %>

<body> 
  <header> 
    <% include partials/_header.ejs %>
  </header>

  <% if(!user_id) { %>

  <h1>You must be registered and logged in view this resource</h1>
  <p><a href = "/login">Log In</a><p>

  <% } else { %>
    <h1> Shortened Links: </h1>
    <ul>
    <% var keys = Object.keys(urls); %>
    <% keys.forEach(function(key){ %>
      <% currUrl = urls[key]; %> 
      <li><b><%= key %></b> -->  <a href=<%= currUrl %>><%= currUrl %></a>  
        <a href="/urls/<%= key %>/">Edit</a>
      <% url = "/urls/" + key + "/delete" %>
      <form method="POST" action=<%= url %> >
        <button> Delete <%= key %> </button>
      </form></li>
    <% }); %>
    </ul>
    <p></p>
    <h2>Create a new shortened link</h2>
    <form method="GET" action="/urls/new">
      <button> Go </button>
    </form>
  
  <% } %>



</body>
</html>

